.loginTop {
    max-width: 40%;
    margin: auto;
}
.loginForm {
    height: auto;
    width: 100%;
    padding: 30px 40px;
    border-radius: 5px;
    margin-right: 90px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.loginForm h1 {
    font-size: 36px;
    text-align: center;
    color: black;
    font-weight: 900;
    margin-bottom: 25px;
}

.inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

.inputBox input {
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 13px;
    padding: 15px 45px 15px 15px;
}

.inputBox input::placeholder {
    color: #6f6f6f;
}

.inputBox .iconLogin {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(125, 126, 124);
}
.loginForm .rememberForgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #575656;
    margin-top: 10px;
}

.rememberForgot label input {
    accent-color: black;
    margin-right: 4px;
}

.rememberForgot a {
    color: #575656;
    text-decoration: none;
}

.rememberForgot a:hover {
    text-decoration: underline;
    color: rgb(161, 119, 88);
}

.loginForm button {
    width: 100%;
    background: rgb(161, 119, 88);
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    padding-top: 5px;
    margin-top: -10px;
    font-weight: 700;

}

.loginForm .registerLink p {
    font-size: 13.5px;
    text-align: center;
    margin: 10px 0 15px;
    color: #575656;
}

.registerLink p a {
    color: rgb(125, 126, 124);
    text-decoration: none;
    font-weight: 600;
}

.registerLink p a:hover {
    text-decoration: underline;
    color: rgb(161, 119, 88);
}
@media  screen and (max-width:768px) {
    .loginTop {
        max-width: 69%;
        margin: auto;
    }
}

@media screen and (max-width:643px){
    .loginTop {
        max-width: 69%;
        margin: auto;
    }
}
@media screen and (max-width:500px) {
    .loginTop {
        max-width: 100%;
        margin: auto;
    }
}

